body {
  margin: 0px;
  background-color: #a8d19f;
}

.DeckPage {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Hand {
  margin: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.RulesPage {
  padding: 2vw;
}